*{
    padding: 0;
    list-style: none;
    text-decoration: none;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
.contain{
    width: 100%;
    height: 100%;
   /* background: pink; */
    display: flex;
    flex-direction: column;
}
header{
    background: #ffa168;
     width: 100%;
     height: 45px;
     display: flex;
     align-items: center;
     justify-content: center;
      border-bottom: 1px solid #ccc;
}
header p{
    color: white;
    font-size: 20px;
}
section{
    flex: 1;
    overflow: auto;
 /*   background: blue; */
    border-bottom: 1px solid #ccc;
}

footer{
      width: 100%;
     height: 45px;
     display: flex;
       align-items: center;
     justify-content: center;
	 /*background: coral;*/
}
footer .finish{
  width: 100%;
     height: 45px;
     color: white;
      font-size: 20px;
     border-radius: 25px;
      background: coral;
}